* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin-right: 15px;
  color: rgb(57, 56, 56);
}

ul {
  width: 100%;

  li {
    width: 100%;
    border: 1px solid rgb(57, 56, 56);
    padding: 10px;
    box-sizing: border-box;
  }
}
